#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

h1 {
  color: #1020A1;
  font-size: 3rem;
  margin: 0;
  font-weight: 500;
}

.navbar {
  margin-top: 2rem;
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.navbar a {
  color: #1930DC;
  border-bottom: 1px dotted transparent;
  transition: border-color 0.25s;
}
.navbar a:visited {
  color: #00215A;
}

.navbar a:hover {
  border-color: #00215A;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* --- Estilos para Tabela e Formulário --- */

/* Tabela */
table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #444;
}

th {
  background-color: #ffffff;
}

tbody tr:hover {
  background-color: #b7c1d3;
  cursor: pointer;
}

td button {
  margin-right: 0.5rem;
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #b3cffd;
  padding: 1.5rem;
  border-radius: 8px;
  margin-top: 1.5rem;
}

form h3 {
  color: #00317E;
  margin-top: 0;
}

form input {
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid #a3c5fd;
  background-color: #e0ebfd;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
}

form div {
  display: flex;
  gap: 0.5rem;
}

/* Botões */
.btn-add {
  background-color: #646cff;
  color: white;
}
.btn-add:hover {
  background-color: #535bf2;
}
